.cover__subbtitle{
    z-index: 2;
    width: 360px;
    text-align: center;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 0;
    position: relative;
}

  @media screen and (max-width: 320px) {
    .cover__subbtitle {
      max-width: 288px;
      font-size: 14px;
      line-height: 16px;
    }
  }