.place__image {
    margin:0;
    max-width: 460px;
    width: 100%;
    grid-column: 1;
    grid-row: 2;
    order: 3;
  }
  
  @media screen and (max-width: 320px) {
    .place__image {
        max-width: 320px;
    }
  }
  
  @media screen and (max-width: 1024px) {
    .place__image {
      max-width: 440px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .place__image {
      max-width: 340px;
    }
  }