.lead__title{
    max-width: 720px;
    max-height: 200px;
    text-align: center;
    margin: auto;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    font-family: Inter;
    font-style: normal;
    color: #ffff;
}

@media only screen and (max-width: 1024px) {
    .lead__title{
        max-width: 720px;
        max-height: 200px;
        margin:0 152px 0 152px;
    }
}

@media only screen and (max-width: 768px) {
    .lead__title{
        max-width: 720px;
        max-height: 200px;
        margin:0 24px 0 24px;
    }
}

@media only screen and (max-width: 320px) {
    .lead__title{
        max-width: 288px;
        max-height: 88px;
        margin:0 16px 0 16px;
        font-size: 40px;
        line-height: 44px;
        font-family: Inter;
        font-style: normal;
        font-weight: 900;
        text-align: center;
    }
}