.lead__subtitle{
    text-align: center;
    margin:  32px auto 0 auto;
    max-width: 640px;
    max-height: 72px; 
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    color: #ffff;
}

@media only screen and (max-width: 1024px) {
    .lead__subtitle{
        max-width: 720px;
        max-height: 200px;
        margin: 32px 192px 0 192px;
    }
}

@media only screen and (max-width: 768px) {
    .lead__subtitle{
        max-width: 640px;
        max-height: 72px;
        margin:32px 64px 0 64px;
    }
}

@media only screen and (max-width: 320px) {
    .lead__subtitle{
        max-width: 288px;
        max-height: 40px;
        margin:16px 16px 0 16px;
        font-size: 16px;
        line-height: 22px;
    }
}