.place {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(460px 1fr));
    margin-bottom: 84px;
    gap: 48px 40px;
  }
  
  @media screen and (max-width: 320px) {
    .place {
    display: flex;
    flex-direction: column;
    }
  }
  
  @media screen and (max-width: 1024px) {
    .place {
      grid-template-columns: repeat(auto-fit, minmax(340px 1fr));
      grid-gap: 48px 28px;
      margin-bottom: 72px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .place {
      margin-bottom: 48px;
    }
  }