.footer{
    display: flex;
    max-width: 1184px;
    max-height: 18px;
    margin: 92px 48px 0 48px;
    padding-bottom: 24px;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .footer {
    margin: 88px 24px 0 24px;
    }
  }

  @media screen and (max-width: 320px) {
    .footer {
    max-Width:186px;
    max-Height:310px;
    margin:64px 0 0 16px;
    flex-direction: column;
    }
  }